### **Discretization/Binning**

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
df = pd.read_csv("D:/Academics/AI/Simplilearn/Data Sets/CampusX/Titanic.csv", usecols=['Age', 'Fare', 'Survived'])

In [52]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [53]:
df.isna().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [54]:
df.dropna(inplace=True)

In [55]:
df.shape

(714, 3)

In [56]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

**Splitting X and y**

In [57]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(571, 2)
(571,)
(143, 2)
(143,)

In [61]:
from sklearn.tree import DecisionTreeClassifier

In [62]:
dtc = DecisionTreeClassifier()

In [63]:
dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)

In [64]:
from sklearn.metrics import accuracy_score

In [65]:
accuracy_score(y_test, y_pred)

0.6363636363636364

**So without applying any transformation on numerical columns the accuracy is 62.93%**

------------------------------------------------------------------------------------

In [66]:
from sklearn.model_selection import cross_val_score

In [67]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10, scoring='accuracy'))

0.6316901408450704

In [68]:
from sklearn.preprocessing import KBinsDiscretizer

In [69]:
kbin_age = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='quantile')
kbin_fare = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='quantile')

In [70]:
from sklearn.compose import ColumnTransformer

In [71]:
trf = ColumnTransformer([('first', kbin_age, [0]), ('second', kbin_fare, [1])])

In [72]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.fit(X_test)

In [78]:
trf.named_transformers_['first'].n_bins_

array([10])

In [79]:
trf.named_transformers_['first'].bin_edges_

array([array([ 1. , 11. , 17. , 20.6, 24. , 28. , 30.1, 34.4, 38.6, 47.8, 62. ])],
      dtype=object)