In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt

In [ ]:
#This is Boston house price data set.
from sklearn.datasets import load_boston  

boston_bunch = load_boston()
print(type(boston_bunch))

In [5]:
boston_df = pd.DataFrame(boston_bunch.data, columns = boston_bunch.feature_names)
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [6]:
boston_df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [7]:
boston_df.shape

(506, 13)

**Checking for the missing values**

In [8]:
boston_df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [9]:
boston_df['ZN'].unique()

array([ 18. ,   0. ,  12.5,  75. ,  21. ,  90. ,  85. , 100. ,  25. ,
        17.5,  80. ,  28. ,  45. ,  60. ,  95. ,  82.5,  30. ,  22. ,
        20. ,  40. ,  55. ,  52.5,  70. ,  34. ,  33. ,  35. ])

In [10]:
boston_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

**Splitting X and y from dataframe**

In [12]:
boston_df["MEDV"] = boston_bunch.target
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [13]:
X = boston_bunch.data
y = boston_bunch.target

In [14]:
X = boston_df.drop("MEDV", axis = 1)
y = boston_df["MEDV"]

**Split the dataset into Train set and Test set**

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [17]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [18]:
from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()

In [19]:
model_lr.fit(X_train, y_train)

LinearRegression()

In [20]:
model_lr.intercept_

40.093042090878726

In [21]:
model_lr.coef_

array([-9.10520471e-02,  4.32765467e-02, -7.99051988e-03,  3.27536842e+00,
       -1.81551068e+01,  3.27866572e+00,  1.36187904e-02, -1.51707647e+00,
        2.57936819e-01, -9.84534070e-03, -9.67312143e-01,  8.47857307e-03,
       -5.64425229e-01])

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 21)

In [23]:
from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()

In [24]:
model_lr.fit(X_train, y_train)

LinearRegression()

In [25]:
model_lr.intercept_

40.653176529790514

**Evaluate the Regression Model**

In [26]:
y_test_pred = model_lr.predict(X_test)

In [27]:
pd.DataFrame({'Actual y_test': y_test, 'Predicted y_test': y_test_pred})

     Actual y_test  Predicted y_test
455           14.1         15.311568
142           13.4         15.324187
311           22.1         26.890855
232           41.7         37.384876
290           28.5         33.375220
..             ...               ...
486           19.1         20.027912
468           19.1         17.513802
302           26.4         29.172278
244           17.6         16.904621
321           23.1         24.767296

[102 rows x 2 columns]

In [28]:
print('RMS value of testing dataset is')
print(np.sqrt(mean_squared_error(y_test, y_test_pred)))

RMS value of testing dataset is
5.179324335658004

In [29]:
print("R2 score is {}".format(model_lr.score(X_test, y_test)))

R2 score is 0.714936416139223

In [30]:
from sklearn.linear_model import Ridge
ridgereg = Ridge(alpha = 0.001, normalize = True)
ridgereg.fit(X_train, y_train)

print(sqrt(mean_squared_error(y_train, ridgereg.predict(X_train))))
print(sqrt(mean_squared_error(y_test, ridgereg.predict(X_test))))
print("R2 value of Determinant is: {}".format(ridgereg.score(X_test, y_test)))

4.565624617029181
5.179023855808236
R2 value of Determinant is: 0.7149694912558321

In [31]:
from sklearn.linear_model import Lasso
lassoreg = Lasso(alpha = 0.001, normalize = True)
lassoreg.fit(X_train, y_train)

print(sqrt(mean_squared_error(y_train, lassoreg.predict(X_train))))
print(sqrt(mean_squared_error(y_test, lassoreg.predict(X_test))))
print("R2 value of Determinant is: {}".format(lassoreg.score(X_test, y_test)))

4.5682928573465205
5.1772573204681995
R2 value of Determinant is: 0.7151639026381357

In [32]:
from sklearn.linear_model import ElasticNet
Elasreg = ElasticNet(alpha = 0.001, normalize = True)
Elasreg.fit(X_train, y_train)

print(sqrt(mean_squared_error(y_train, Elasreg.predict(X_train))))
print(sqrt(mean_squared_error(y_test, Elasreg.predict(X_test))))
print("R2 value of Determinant is: {}".format(Elasreg.score(X_test, y_test)))

4.765401328632125
5.346804194837191
R2 value of Determinant is: 0.696202577259037

**Out of Ridge, Elasso and ElasticNet, Ridge Model is the most accurate model.**